.color{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}
.skeleton-text-h3{
    width: 50%;
    height: 1rem;
}
.skeleton-text-h2{
    width: 90%;
    height: 36px;
}
.skeleton-text-p{
    width: 40px;
    height: 24px;
}
.skeleton-text-singleproduct-h2{
    width: 50%;
    height: 16px;
}
.skeleton-text-singleproduct-title{
    width: 80%;
    height: 65px;
}
.skeleton-text-singleproduct-span{
    width: 160.76px;
    height: 36px;
}
.skeleton-text-singleproduct-social{
    width: 74px;
    height: 36px;
}
.skeleton-text-singleproduct-description{
    width: 456px;
    height: 90px;
}
.skeleton-text-singleproduct-color{
    width: 130px;
    height: 24px;  
}
.skeleton-text-singleproduct-color2{
    width: 115px;
    height: 24px;  
}
.skeleton-text-singleproduct-price{
    width: 82px;
    height: 33px;
}
.skeleton-text-singleproduct-button{
    width: 122px;
    height: 40px;  
}